<!DOCTYPE html>
<html>
	<head>
		<title>Literary</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>
		<!-- Menu -->
		<div class="ui inverted menu" id="menu">
			<div class="ui container">
				<a href="/" class="header item">Literary</a>
				<a href="/pieces" class="item">Literature</a>
				<div class="right menu">
					<% if(!currentUser) { %>
						<a href="/login" class="item">Sign In</a>
						<a href="/register" class="item">Register</a>
					<% } else { %>
						<div class="ui simple dropdown item">
							<i class="far fa-envelope"></i>
							<% if(notifications.length > 0) { %>
								<div class="ui red label"><%= notifications.length %></div>
							<% } %>
							<div class="menu">
								<a href="/notifications" class="item">View All Notifications</a>
								<% notifications.forEach(notification => { %>
									<a href="/notifications/<%= notification["_id"] %>" class="item">
										<%= notification["author"] %> has created a new
										<% if(notification["notificationType"] === "Piece") { %>
											piece %>
										<% } else { %>
											comment %>
										<% } %>
									</a>
								<% }) %>
							</div>
						</div>
						<a href="/users/<%= currentUser._id %>/saves" class="item">Saved Pieces</a>
						<a href="/users/<%= currentUser._id %>" class="item">Profile</a>
						<a href="/logout" class="item">Logout</a>
					<% } %>
				</div>
			</div>
		</div>
		<!-- Flash Messages -->
		<% if(error.length > 0) { %>
			<div class="ui negative message"><%= error %></div>
		<% } %>
		<% if(success.length > 0) { %>
			<div class="ui positive message"><%= success %></div>
		<% } %>