<!DOCTYPE html>
<html>
	<head>
		<title>Literary</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>
		<div class="ui inverted menu">
			<div class="ui container">
				<a href="/" class="header item">Literary</a>
				<a href="/literature" class="item">Literature</a>
				<div class="right menu">
					<a href="#" class="item">Sign In</a>
					<a href="#" class="item">Register</a>
				</div>
			</div>
		</div>
		<% if(error.length > 0) { %>
			<div class="ui negative message"><%= error %></div>
		<% } %>
		<% if(success.length > 0) { %>
			<div class="ui positive message"><%= success %></div>
		<% } %>
		<div class="ui massive message">
			<h1 class="ui large header">View Our Collections</h1>
			<p>Read through all these stories, poems, articles, and more posted by individuals around the web!</p>
			<a href="/literature/new" class="ui large primary button">Add New Piece</a>
		</div>
		<div class="ui container">
		<% pieces.forEach(piece => { %>
			<div class="ui card">
				<div class="content">
					<div class="header">
						<h2><%= piece["title"] %></h2>
					</div>
					<div class="meta">
						<%= moment(piece["created"]).fromNow() %>
					</div>
					<div class="description">
						<p class="ui medium header"><%= piece["body"].slice(0, 500) %></p>
					</div>
				</div>
			</div>
		<% }) %>

<%- include("../partials/footer") %>