<!DOCTYPE html>
<html>
	<head>
		<title>Literary</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>
<!-- 	Menu	 -->
		<div class="ui inverted menu">
			<div class="ui container">
				<a href="/" class="header item">Literary</a>
				<a href="/pieces" class="item">Literature</a>
				<div class="right menu">
					<a href="#" class="item">Sign In</a>
					<a href="#" class="item">Register</a>
				</div>
			</div>
		</div>
<!-- 	Flash Messages	 -->
		<% if(error.length > 0) { %>
			<div class="ui negative message"><%= error %></div>
		<% } %>
		<% if(success.length > 0) { %>
			<div class="ui positive message"><%= success %></div>
		<% } %>
<!-- 	Header	 -->
		<div class="ui massive message">
			<h1 class="ui large header">View Our Collections</h1>
			<p>Read through all these stories, poems, articles, and more posted by individuals around the web!</p>
			<a href="/pieces/new" class="ui large primary button">Add New Piece</a>
		</div>
		<div class="ui container">
<!-- 	Gallery		 -->
			<div id="gallery" class="ui stackable three column grid container">
				<% pieces.forEach(piece => { %>
					<div class="column">
						<div class="ui card">
							<div class="content">
								<div class="header">
									<h2><a href="/pieces/<%= piece["_id"] %>"><%= piece["title"] %></a></h2>
								</div>
								<div class="meta">
									<%= moment(piece["created"]).fromNow() %>
								</div>
								<div class="description">
									<p class="ui medium header"><%= piece["body"].slice(0, 400) %>
										<% if(piece["body"].length > 500) { %>
										...
										<% } %>
									</p>
								</div>
							</div>
						</div>
					</div>
				<% }) %>
			</div>
<!-- 	Pagination Bar	 -->
			<div id="pagination">
				<% if (pages && pages > 0) { %>
					<ul class="ui pagination menu">
						<% if (current == 1) { %>
							<a class="disabled item">First</a>
							<a class="disabled item">«</a>
						<% } else { %>
							<a href="/pieces" class="item">First</a>
							<a href="/pieces?page=<%= Number(current) - 1 %>" class="item">&lt;</a>
						<% } %>
						
						<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
						<% if (i !== 1) { %>
							<a class="active item">...</a>
						<% } %>
						<% for (i ; i <= (Number(current) + 4) && i <= pages; i++) { %>
							<% if (i == current) { %>
								<a class="active item"><%= i %></a>
							<% } else { %>
								<a href="/pieces?page=<%= i %>" class="item"><%= i %></a>
							<% } %>
							<% if (i == Number(current) + 4 && i < pages) { %>
								<a class="active item">...</a>
							<% } %>
						<% } %>
						
						<% if (current == pages) { %>
							<a class="disabled item">»</a>
							<a class="disabled item">Last</a>
						<% } else { %>
							<a href="/pieces?page=<%= Number(current) + 1 %>" class="item">&gt;</a>
							<a href="/pieces?page=<%= pages %>"class="item">Last</a>
						<% } %>
					</ul>
				<% } %>
			</div>

<%- include("../partials/footer") %>