<%- include("../partials/header") %>

		<!-- Header -->
		<div class="ui massive message">
			<h1 class="ui large header">View Our Collections</h1>
			<p>Read through all these stories, poems, articles, and more posted by individuals around the web!</p>
			<a href="/pieces/new" class="ui large primary button">Add New Piece</a>
		</div>
		<!-- Search Bar -->
		<div class="ui container">
			<form action="/pieces" method="GET" class="ui search" id="searchBar">
				<div class="ui icon input">
					<input type="text" placeholder="Search..." name="search">
					<i class="search icon"></i>
				</div>
			</form>
			<% if(pieces.length === 0) { %>
				<h1 id="matchless">Sorry. No matches could be found.</h1>
			<% } %>
			<!-- Results Gallery -->
			<div id="gallery" class="ui stackable three column grid container">
				<% pieces.forEach(piece => { %>
					<div class="column">
						<div class="ui card indexCard">
							<div id="topBar">
								<div class="ui label right floated item">
									Likes
									<div class="detail"><%= piece["likes"].length %></div>
								</div>
							</div>
							<div class="content">
								<div class="header">
									<h2><a href="/pieces/<%= piece["_id"] %>"><%= piece["title"] %></a></h2>
								</div>
								<div class="meta">
									<%= moment(piece["created"]).fromNow() %>, by 
									<a href="/users/<%= piece["author"]["id"] %>"><%= piece["author"]["username"] %></a>
								</div>
								<% piece["tags"].forEach(tag => { %>
									<% if(tag.length > 0) { %>
										<span class="ui label" >#<%= tag %></span>
									<% } %>
								<% }) %>
								<p class="textBody"><%= piece["body"].slice(0, 400) %>...</p>
							</div>
							<div id="bottomBar">
								<!-- Like Icon -->
								<% if(currentUser && piece["likes"].some(like => {
									return like.equals(currentUser._id);
								})) { %>
									<a href="/pieces/<%= piece["_id"] %>/likes"><i class="fas fa-thumbs-up liked"></i></a>
								<% } else { %>
									<a href="/pieces/<%= piece["_id"] %>/likes"><i class="far fa-thumbs-up replaced"></i></a>
									<a href="/pieces/<%= piece["_id"] %>/likes"><i class="fas fa-thumbs-up"></i></a>
								<% } %>
								<!-- Save Icon -->
								<% if(!currentUser) { %>
									<% let currentUser = "placeholder" %>
									<a href="/users/<%= currentUser["_id"] %>/saves/<%= piece["_id"] %>"><i class="far fa-heart replaced"></i></a>
									<a href="/users/<%= currentUser["_id"] %>/saves/<%= piece["_id"] %>"><i class="fas fa-heart"></i></a>
								<% } %>
								<% if(currentUser) { %>
									<% if(currentUser.saves.some(save => {
										return save.equals(piece._id);
									})) { %>
										<a href="/users/<%= currentUser["_id"] %>/saves/<%= piece["_id"] %>"><i class="fas fa-heart saved"></i></a>
									<% } else { %>
										<a href="/users/<%= currentUser["_id"] %>/saves/<%= piece["_id"] %>"><i class="far fa-heart replaced"></i></a>
										<a href="/users/<%= currentUser["_id"] %>/saves/<%= piece["_id"] %>"><i class="fas fa-heart"></i></a>
									<% } %>
								<% } %>
							</div>
						</div>
					</div>
				<% }) %>
			</div>
			<!-- Pagination Bar -->
			<div id="pagination">
				<% if (pages && pages > 1) { %>
					<ul class="ui pagination menu">
						<!-- Left Side -->
						<% if (current == 1) { %>
							<a class="disabled item">First</a>
							<a class="disabled item">&lt;</a>
						<% } else { %>
							<a href="/pieces<% if(search) { %>?search=<%= search %><% } %>" class="item">First</a>
							<a href="/pieces?page=<%= Number(current) - 1 %><% if(search) { %>&search=<%= search %><% } %>" class="item">&lt;</a>
						<% } %>
						<!-- Center -->
						<% var i = (Number(current) > 5 ? Number(current) - 3 : 1) %>
						<% if (i !== 1) { %>
							<a class="active item">...</a>
						<% } %>
						<% for (i ; i <= (Number(current) + 3) && i <= pages; i++) { %>
							<% if (i == current) { %>
								<a class="active item"><%= i %></a>
							<% } else { %>
								<a href="/pieces?page=<%= i %><% if(search) { %>&search=<%= search %><% } %>" class="item"><%= i %></a>
							<% } %>
							<% if (i == Number(current) + 3 && i < pages) { %>
								<a class="active item">...</a>
							<% } %>
						<% } %>
						<!-- Right Side -->
						<% if (current == pages) { %>
							<a class="disabled item">&gt;</a>
							<a class="disabled item">Last</a>
						<% } else { %>
							<a href="/pieces?page=<%= Number(current) + 1 %><% if(search) { %>&search=<%= search %><% } %>" class="item">&gt;</a>
							<a href="/pieces?page=<%= pages %><% if(search) { %>?search=<%= search %><% } %>" class="item">Last</a>
						<% } %>
					</ul>
				<% } %>
			</div>
		</div>

<%- include("../partials/footer") %>