<%- include("../partials/header") %>

<div id="mainContainer" class="ui container">
	<div class="ui centered grid">
		<div class="fourteen wide column" id="show">
			<h1 id="header"><%= piece["title"] %></h1>
			<div class="meta"><%= moment(piece["created"]).fromNow() %>, by <%= piece["author"]["username"] %></div>
			<span class="ui teal label">#<%= piece["type"] %></span>
			<% piece["tags"].forEach(tag => { %>
				<% if(tag.length > 0) { %>
					<span class="ui label">#<%= tag %></span>
				<% } %>
			<% }) %>
			<% if(piece.image) { %>
				<img src="<%= piece["image"] %>" class="ui centered large image" id="image">
			<% } %>
			<p class="textBody"><%= piece["body"] %></p>
			<% if(user && piece["author"]["id"].equals(user._id)) { %>
			<a href="/pieces/<%= piece["_id"] %>/edit" class="ui yellow button">Edit</a>
			<form action="/pieces/<%= piece["_id"] %>?_method=DELETE" method="POST" id="deleteForm">
				<button class="ui red button">Delete</button>
			</form>
			<% } %>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>