<%- include("../partials/header") %>

<div id="mainContainer" class="ui container">
	<div class="ui centered grid" id="show">
		<div class="fourteen wide column">
			
			<h1><%= piece["title"] %></h1>
			<div class="meta">
				<em>
					Submitted By <a href="/users/<%= piece["author"]["id"] %>"><%= piece["author"]["username"] %></a>,
					<%= moment(piece["created"]).fromNow() %>
				</em>
			</div>
			<span class="ui teal label">#<%= piece["type"] %></span>
			<% piece["tags"].forEach(tag => { %>
				<% if(tag.length > 0) { %>
					<span class="ui label">#<%= tag %></span>
				<% } %>
			<% }) %>
			<% if(piece.image) { %>
				<img src="<%= piece["image"] %>" class="ui centered large image">
			<% } %>
			<p class="textBody"><%= piece["body"] %></p>
			
			<% if(currentUser && piece["likes"].some(like => {
				return like.equals(currentUser._id);
			})) { %>
				<a href="/pieces/<%= piece["_id"] %>/likes" class="ui mini green button">Liked!</a>
			<% } else { %>
				<a href="/pieces/<%= piece["_id"] %>/likes" class="ui mini blue button">Like</a>
			<% } %>
			<% if(!currentUser) { %>
				<% let currentUser = "placeholder" %>
				<a href="/users/<%= currentUser["_id"] %>/saves/<%= piece["_id"] %>" class="ui mini pink button">Save</a>
			<% } %>
			<% if(currentUser) { %>
				<% if(currentUser.saves.some(save => {
					return save.equals(piece._id);
				})) { %>
					<a href="/users/<%= currentUser["_id"] %>/saves/<%= piece["_id"] %>" class="ui mini red button">Saved!</a>
				<% } else { %>
					<a href="/users/<%= currentUser["_id"] %>/saves/<%= piece["_id"] %>" class="ui mini pink button">Save</a>
				<% } %>
			<% } %>
			<% if(currentUser && piece["author"]["id"].equals(currentUser._id)) { %>
				<div id="ownerButtons">
					<a href="/pieces/<%= piece["_id"] %>/edit" class="ui yellow button">Edit</a>
					<form action="/pieces/<%= piece["_id"] %>?_method=DELETE" method="POST" id="deleteForm">
						<button class="ui red button">Delete</button>
					</form>
				</div>
			<% } %>
			
			<div id="commentSection">
				<h2>Comments (<%= piece["comments"].length %>)</h2>
				<% if(currentUser) { %>
					<form action="/pieces/<%= piece["_id"] %>/comments" method="POST" class="ui form">
						<button class="ui green button" id="addButton">+ Add Comment</button>
						<textarea placeholder="Type your comment here..." name="comment[body]" required></textarea>
					</form>
				<% } else { %>
					<h2 id="authMessage">
						<a href="/login">Login</a> or <a href="/register">Sign Up</a> to Comment
					</h2>
				<% } %>
				
				<div class="ui items">
					<% piece["comments"].forEach(comment => { %>
						<div class="item">
							<div class="content">
								<div>
									<strong>
										<img class="ui avatar image" src="<%= comment["author"]["id"]["avatar"] %>">
										<a href="/users/<%= comment["author"]["id"]["_id"] %>"><%= comment["author"]["id"]["username"] %></a>
									</strong>
									<em>, <%= moment(comment["created"]).fromNow() %></em>
								</div>
								<div class="description">
									<p><%= comment["body"] %></p>
								</div>
								<% if(currentUser && comment["author"]["id"].equals(currentUser._id)) { %>
									<button class="ui tiny yellow button editButton">Edit</button>
									<form action="/pieces/<%= piece["_id"] %>/comments/<%= comment["id"] %>?_method=DELETE" 
										  method="POST" 
										  id="deleteForm">
										<button class="ui tiny red button">Delete</button>
									</form>
									<form class="ui form editForm" 
										  action="/pieces/<%= piece["_id"] %>/comments/<%= comment["_id"] %>?_method=PUT" 
										  method="POST">
										<textarea name="comment[body]" required><%= comment["body"] %></textarea>
										<button class="ui mini primary button">Submit</button>
									</form>
								<% } %>
							</div>
						</div>
						<hr>
					<% }) %>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>